/* background-attachment determiens whether the image remains fixed or scrools through the page or inherits the parent propreties.
theerfore are 3; fixed,sroll, and inherit.*/

.attachment1{
    background-image: url(images/cat1.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed; /*image stays in position*/
}

.attachment2{
    background-image: url(images/cat1.jpg);
    background-repeat:no-repeat;
    background-attachment: scroll; /*the image moevs as text moves*/
}

.attachment3{
    background-image: url(images/cat1.jpg);
    background-repeat:no-repeat;
    background-attachment: inherit; /*find out hows it works*/
}
